body {
    background-color:blue;
}

h1 {
    color:aliceblue;
    text-align: center;
}
 
p{
    color: aliceblue;
    font-family:serif
}

.bloco {
    display: flex;
    justify-content: center;
    margin-top: 50px;
   
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 10px;
}

.lista {
    background-color: red;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 50px;
    border-radius: 10px;
}