body {
background-image: url(planta.png);
background-repeat: no-rept;
background-size: coer;
background-position: center;
}

h3{
    color: rgb(0, 0, 0);
    font-family: fantasy;
}

.text{
    font-family:fantasy
}

.content-header {
    flex-direction: column;
    margin: auto;
    display: flex;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: fantasy;
}


.content-mid{
    flex-direction: column;
    margin: auto;
    align-items: center;
    display: flex;
}

.content-lista {
    background-color: rgba(6, 160, 88, 0.534);
    margin-top: 50px;
    width:300px;
    border-radius: 10px;
    border: 3px solid black;
    color: rgb(0, 0, 0);
}
.content-loc{
    margin-top: 50px;
    justify-content: flex-end;
    display: flex;
}

.content-caixa{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

img {
    width: 40px;
}
.link{
    width: 250px;
    height: 100px;
    font-size: 19px;
}

.pes{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

a{
    color: rgb(0, 0, 0);
}